@import "tailwindcss";

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

body {
  font-family:  var(--font-inter), var(--font-playfair);
}

button {
  cursor: pointer;
}
